.sendsay-wrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    animation: sendsay-wrapper-animate;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(.175,.885,.32,1.275);
    text-align: left;
}

.sendsay-wrapper.sendsay-noanimation,
.sendsay-wrapper.sendsay-noanimation .sendsay-popup {
    animation: none;
}

.sendsay-wrapper * {
	box-sizing: border-box;
}



.sendsay-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    animation: sendsay-popup-animate;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(.175,.885,.32,1.275);


}

.sendsay-field-hidden {
    display: none;
}

.sendsay-field {
	padding-bottom: 10px;
}

.sendsay-field.sendsay-field-invalid .sendsay-input, .sendsay-field.sendsay-field-invalid .sendsay-input:focus {
    border-color: red;
}

.sendsay-error {
    font-size: 12px;
    display: none;
    padding-top: 4px;
    color: red;
}

.sendsay-field.sendsay-field-invalid .sendsay-error {
    display: block;
}

.sendsay-label {
    font-size: 12px;
    display: block;
    padding-bottom: 4px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.sendsay-input {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 13px;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 8px;
    transition: border .2s;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    outline: none;
}
.sendsay-input:focus {
    border-color: #007c99;
}

.sendsay-button input {
	padding: 5px 10px;
	cursor: pointer;
    font-weight: normal;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #007bff;
    border: none;
    border-radius: 2px;
    outline: none;
}

.sendsay-button input:hover {


    background-color: #008cff;

}

.sendsay-title {
	font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}

@keyframes sendsay-wrapper-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes sendsay-popup-animate {
    from {
        -ms-transform: scale(.88) translate(-50%, -50%);
            transform: scale(.88) translate(-50%, -50%);
    }
    to {
        -ms-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    }
}

