

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700|Lora:400,700|PT+Sans:400,700|Merriweather:400,700|PT+Serif:400,700|Scada:400,700);

@-webkit-keyframes sendsay-progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes sendsay-progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}



.sendsay-loading {
    -webkit-animation: sendsay-progress-bar-stripes 2s linear infinite;
       -moz-animation: sendsay-progress-bar-stripes 2s linear infinite;
            animation: sendsay-progress-bar-stripes 2s linear infinite;

    background-image: linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.sendsay-wrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    animation: sendsay-wrapper-animate;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(.175,.885,.32,1.275);
    text-align: left;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.sendsay-wrapper.sendsay-noanimation,
.sendsay-wrapper.sendsay-noanimation .sendsay-popup {
    animation: none;
}

.sendsay-wrapper * {
	box-sizing: border-box;
}
.sendsay-popup.sendsay-left {
    bottom: 50px;
    left: 50px;
    animation: sendsay-popup-animate;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(.175,.885,.32,1.275);
}

.sendsay-popup.sendsay-right {
    bottom: 50px;
    right: 50px;
    animation: sendsay-popup-animate;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(.175,.885,.32,1.275);
}

.sendsay-popup.sendsay-centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: sendsay-popup-animate-center;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(.175,.885,.32,1.275);
}

.sendsay-popup {
    background: none;
    background-image: none;
    height: auto;
    text-align: left;
    font-family: 'Open Sans', 'Arial', sans-serif;
    position: fixed;
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;

}

.sendsay-popup * {
    box-sizing: border-box;
    background: none;
    background-image: none;
    height: auto;
}

.sendsay-field-hidden {
    display: none;
}

.sendsay-field {
	padding-bottom: 10px;
}

.sendsay-field.sendsay-field-invalid .sendsay-input, .sendsay-field.sendsay-field-invalid .sendsay-input:focus {
    border-color: red;
}

.sendsay-error {
    font-size: 12px;
    display: none;
    padding-top: 4px;
    color: red;
}

.sendsay-field.sendsay-field-invalid .sendsay-error {
    display: block;
}

.sendsay-label {
    font-size: 12px;
    display: block;
    padding-bottom: 4px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    word-break: break-word;
}

.sendsay-input {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 13px;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 8px;
    transition: border .2s;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    outline: none;
    background-color: #fff;
}
.sendsay-input:focus {
    border-color: #007c99;
}

.sendsay-button input {
	padding: 10px 10px;
	cursor: pointer;
    font-weight: normal;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    line-height: normal;
    font-family: 'Open Sans', 'Arial', sans-serif;
}


.sendsay-text {
    word-break: break-word;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.sendsay-title {
	font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}


.sendsay-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    line-height: 20px;
}

.sendsay-radioinput, .sendsay-checkinput {
    display: inline-block;
}

.sendsay-radio .sendsay-label, .sendsay-checkbox .sendsay-label {
    display: inline-block;
}
@keyframes sendsay-wrapper-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes sendsay-popup-animate-center {
    from {
        -ms-transform: translate(-50%, -50%) scale(.88) ;
            transform: translate(-50%, -50%) scale(.88) ;
    }
    to {
        -ms-transform: translate(-50%, -50%) scale(1) ;
            transform: translate(-50%, -50%) scale(1) ;
    }
}

@keyframes sendsay-popup-animate {
    from {
        -ms-transform:  scale(.88) ;
            transform:  scale(.88) ;
    }
    to {
        -ms-transform:  scale(1) ;
            transform:  scale(1) ;
    }
}


