.sendsay-popup.sendsay-bar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	
	.sendsay-columnwrapper {
		display: flex;
		justify-content: center;
	}

	.sendsay-column {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 800px;
		height: 50px;

		>*{
			padding-left: 20px;
		}
	}

	.sendsay-label {
		display: none;
	}

	.sendsay-field {
		flex-grow: 2;
		flex-shrink: 1;
	}



}