.sendsay-popup.sendsay-type-widget {
	position: fixed;
	bottom: 0px;
	right: 50px;
	flex-direction: column;
	max-height: 100%;


	.sendsay-toggler {
		height:50px;
		line-height: 50px;
		cursor: pointer;
	}

	.sendsay-toggler {

		.sendsay-toggler-desktop {
			display: block;
		}

		.sendsay-toggler-mobile {
			display: none;	
		}
 
	}

	.sendsay-content {
		opacity: 0;
		max-height: 0px;
		overflow: hidden;
		transition: max-height linear 300ms, opacity linear 300ms;
	}
	.sendsay-close {
		display: none;
	}


}


.sendsay-popup.sendsay-type-widget.sendsay-opened{
	


	.sendsay-content {
		opacity: 1;
		transition: max-height linear 300ms, opacity linear 300ms;
	}

	.sendsay
	
	.sendsay-cross {
		display: none;
	}


}
